.contact-container{
    width:100%;
    border:2px solid yellow;
    min-height:100vh;
    background: #f0f0f0;
}

/* .aboutMe-container{
    width:100%;
    background:#ffff;
    min-height:100vh;
} */
.contact-title{
    padding:3rem;
    position:relative;
    margin: 0 auto; 
    text-align: center;
    z-index:1;
}
.contact-title > h1{
    font-family:'League Spartan',Arial, Helvetica, sans-serif;
    font-size:12rem;
    font-weight:bold;
    color:#d1d1d1;
}

.contact-inner-title{
    position: absolute;
    top: 50%; /* Adjust this value to vertically center the inner title */
    left: 0;
    right: 0;
    /*transform: translateY(-10%); /* Vertically center the inner title */
    z-index: 2;
   
}

.contact-inner-title > h2 {
    font-family:'Apercu','Courier New', Courier, monospace;
    font-size:3rem;
    text-decoration:underline;
    text-decoration-color:#c9a0dc;
}
.contactForm{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
textArea{
    padding: 5rem 10rem;
}