.educationCard{
    display:flex;
    justify-content:flex-start;
    align-items:flex-start;
    flex-direction:column;
    background:white;
    border-radius:5px;
    margin:10px;
    line-height:1.8rem;
    padding:25px;  /*for some reason the padding makes the card exceed the width of its parent container when i use flex-direction:column */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    width:80%;
    height:auto;
    box-sizing:border-box;
}

.educationCard >p{
    margin-top:1rem;
    line-height:1.8rem;
    font-family:'Apercu','Courier New', Courier, monospace;
    text-align:left;
    
}
.year-tab{
    background:#c9a0dc;
    padding:3px;
    border-radius:5px;
    font-family:'Apercu','Courier New', Courier, monospace;
}
.degree-title{
    font-family:'League Spartan',Arial, Helvetica, sans-serif;
    font-weight:900;
    margin-top:1rem;
    text-align:left;
}
.university{
    font-family:'League Spartan',Arial, Helvetica, sans-serif;
    text-align:left;
}

@media only screen and (max-width:600px){
    .educationCard{
        height:auto;
    }
}