.experienceCard{
    display:flex;
    justify-content:flex-start;
    align-items:flex-start;
    flex-direction:column;
    background:white;
    border-radius:5px;
    margin:10px;
    line-height:1.8rem;
    padding:25px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    width:80%;
    height:auto;
    box-sizing:border-box;
}
.experienceCard >p{
    margin-top:1rem;
    text-align:left;
    font-family:'Apercu','Courier New', Courier, monospace;
}
.year-tab{
    background:#c9a0dc;
    padding:3px;
    border-radius:5px;
}
.degree-title{
    font-family:'League Spartan',Arial, Helvetica, sans-serif;
    font-weight:900;
    margin-top:1rem;
    text-align:left;
}
.university{
    font-family:'League Spartan',Arial, Helvetica, sans-serif;
    text-align:left;
}
@media only screen and (max-width:600px){
    .experienceCard{
        height:auto;
    }
}