.header-container{
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
    width:100%;
    height:60px;
    background-color:transparent;
    position:fixed;
    z-index:10;
}

.header-container.active{
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
    width:100%;
    height:60px;
    background:linear-gradient(to right,#434343,#000);
    position:fixed;
}
.coffee-mug{
    margin:20px;
}
.linkedIn-logo{
    margin:20px;
}