@font-face{
    font-family:'League Spartan Medium';
    src:url('../fonts/LeagueSpartan-Medium.ttf') format('ttf');
  }

.home-container{
    width:100%;
    background-image:linear-gradient(
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)),url('../photos/ocean-home.jpg') ;
    background-size:cover;
    background-position: center center;
    min-height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}
.home-title{
    font-family:'League Spartan';
    color:white;
    font-size:4rem;
    font-weight:bold;
}
.animated-typing{
    font-family:'Apercu';
    color:white;
    font-size:2.5rem;
    font-weight:500;
    text-align:center;
   
    
}

@media only screen and (max-width:1000px){

    .animated-typing{
        font-size:2rem;
        width:500px;

    }
}

@media only screen and (max-width:690px){

    .animated-typing{
        font-size:1.5rem;
        width:200px;

    }
}