.portfolio-container{
    width:100%;
    height:auto;
    border:2px solid pink;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    /* padding-bottom:5rem; */
}

.projects-box{
  display:flex;
  justify-content:space-evenly;
  align-items:space-evenly;
  max-width:100%;
  flex-wrap:wrap;
  min-height:100vh;

}
.portfolio-title{
  padding:3rem;
  position:relative;
  margin: 0 auto; 
  text-align: center;
  z-index:1;
}
.portfolio-title > h1{
  font-family:'League Spartan',Arial, Helvetica, sans-serif;
  font-size:12rem;
  font-weight:bold;
  color:#f0f0f0
}
.portfolio-inner-title{
  position: absolute;
  top: 50%; /* Adjust this value to vertically center the inner title */
  left: 0;
  right: 0;
  /*transform: translateY(-10%); /* Vertically center the inner title */
  z-index: 2;
 
}

.portfolio-inner-title > h2 {
  font-family:'Apercu','Courier New', Courier, monospace;
  font-size:3rem;
  text-decoration:underline;
  text-decoration-color:#c9a0dc;
}

@media only screen and (max-width:1300px){
  .portfolio-container{
    width:100%;
    height:auto;
    border:2px solid pink;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
  }
}



