.project-bundle{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
  }

  .project-card{
    position:relative;
    min-width:38rem;
    margin:1rem;
    height:auto;
    margin-bottom:10%;
    box-shadow: 5px 5px 5px rgba(0,0,0, 0.3);
    border-radius:10px;
}

.actual-image{
    display:block; /* make sure to add this to image to remove the white space at the bottom of container*/
    width:100%;
    height:300px;
    border-radius:10px;
}

.img-overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.6); /* make sure to keep alpha channel low enough to see blur effect */
    color:white;
    opacity:0;
    transition:opacity 0.3s;
    border-radius:10px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
.img-overlay-blur{
    backdrop-filter: blur(5px);
  }
  .img-overlay >*{
    transform: translateY(20px);
    transition:transform 0.3s;
  }
  .img-overlay:hover{
    opacity:1;
  }
  .img-overlay:hover >*{
    transform:translateY(0);
  }
  .img-overlay > p {
    margin:20px;
  }
.project-description{
    margin:1rem;
  }
.project-button{
    font-family:'Apercu','Courier New', Courier, monospace;
    margin:1rem;
    padding:15px 25px;
    border-radius: 30px;
    border:none;
    font-weight:bold;
}
.project-button >h1{
    font-size:1rem;
}
.description-container{
  padding:5px;
}